* {
	margin: 1.5;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1200px;
    font-size: 14px;
    font-family: arial;
    color: black;
}

.header {
	font-size: 18px;
	font-family: sans-serif;
	color: red;
}