* {
	margin: 1.5;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1200px;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.First-Test {
	color:blue;
	font-size:14;
	font-family:arial;
}

.First-Test h1 {
	color:green;
	font-size: 32;
	font-family:arial;
}

.info {
	color: pink;
	font-size: 10;
	font-family: sans-serif;
}